.custom-input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-right: 10px;
    width: 100px;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 100px;
}

.custom-input-select {
    -webkit-appearance: none;
    /* Remove default styling in Safari */
    -moz-appearance: none;
    /* Remove default styling in Firefox */
    appearance: none;
    /* Remove default styling in other browsers */
    background-color: white;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"><path d="M4 6l4 4 4-4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    padding-right: 30px;
}